<a href="https://colab.research.google.com/github/vasion9/Python451VS/blob/main/hw02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

In [ ]:
import pandas as pd
import numpy as np

### Step 3. Read the following URL and assign it to a variable called chipo.    
NOTE: It is a TSV file, not CSV. Find out how to read TSV using read_csv in Pandas.

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

### Show/print the first **20** entries

In [ ]:
print(chipo.head(20))

    order_id  quantity                              item_name  \
0          1         1           Chips and Fresh Tomato Salsa
1          1         1                                   Izze
2          1         1                       Nantucket Nectar
3          1         1  Chips and Tomatillo-Green Chili Salsa
4          2         2                           Chicken Bowl
5          3         1                           Chicken Bowl
6          3         1                          Side of Chips
7          4         1                          Steak Burrito
8          4         1                       Steak Soft Tacos
9          5         1                          Steak Burrito
10         5         1                    Chips and Guacamole
11         6         1                   Chicken Crispy Tacos
12         6         1                     Chicken Soft Tacos
13         7         1                           Chicken Bowl
14         7         1                    Chips and Guacamole
15         8         1  Chips and Tomatillo-Green Chili Salsa
16         8         1                        Chicken Burrito
17         9         1                        Chicken Burrito
18         9         2                            Canned Soda
19        10         1                           Chicken Bowl

                                   choice_description item_price
0                                                 NaN     $2.39
1                                        [Clementine]     $3.39
2                                             [Apple]     $3.39
3                                                 NaN     $2.39
4   [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5   [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                 NaN     $1.69
7   [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8   [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9   [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25
10                                                NaN     $4.45
11  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
12  [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75
13  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
14                                                NaN     $4.45
15                                                NaN     $2.39
16  [Tomatillo-Green Chili Salsa (Medium), [Pinto ...     $8.49
17  [Fresh Tomato Salsa (Mild), [Black Beans, Rice...     $8.49
18                                           [Sprite]     $2.18
19  [Tomatillo Red Chili Salsa, [Fajita Vegetables...     $8.75

### What is the number of observations in the dataset?

In [ ]:
# Solution
num_observations = chipo.shape[0]
print("Number of observations:", num_observations)

Number of observations: 4622

### What is the number of columns in the dataset? Names of the columns in the dataset?

In [ ]:
num_columns = chipo.shape[1]
print("Number of columns:", num_columns)

column_names = chipo.columns
print("Column names:", column_names)

Number of columns: 5
Column names: Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### What was the most-ordered item? In how much quantity in total was it ordered?

In [ ]:
item_quantity = chipo.groupby('item_name')['quantity'].sum()
most_ordered_item = item_quantity.idxmax()
total_quantity = item_quantity.max()
print("Most-ordered item:", most_ordered_item)
print("Total quantity ordered:", total_quantity)

Most-ordered item: Chicken Bowl
Total quantity ordered: 761


### What was the most ordered item in the choice_description column? How many were ordered?

In [ ]:
choice_quantity = chipo.groupby('choice_description')['quantity'].sum()

most_ordered_choice = choice_quantity.idxmax()
total_quantity = choice_quantity.max()

print("Most-ordered choice:", most_ordered_choice)
print("Total quantity ordered:", total_quantity)

Most-ordered choice: [Diet Coke]
Total quantity ordered: 159

### How many items were orderd in total?

In [ ]:
total_items_ordered = chipo['quantity'].sum()

print("Total number of items ordered:", total_items_ordered)

Total number of items ordered: 4972

### Provide a list of unique items offered for sale to eat at Chipotle.

In [ ]:
unique_items = chipo['item_name'].unique()

print("Unique items offered for sale:")
print(unique_items)

Unique items offered for sale:
['Chips and Fresh Tomato Salsa' 'Izze' 'Nantucket Nectar'
 'Chips and Tomatillo-Green Chili Salsa' 'Chicken Bowl' 'Side of Chips'
 'Steak Burrito' 'Steak Soft Tacos' 'Chips and Guacamole'
 'Chicken Crispy Tacos' 'Chicken Soft Tacos' 'Chicken Burrito'
 'Canned Soda' 'Barbacoa Burrito' 'Carnitas Burrito' 'Carnitas Bowl'
 'Bottled Water' 'Chips and Tomatillo Green Chili Salsa' 'Barbacoa Bowl'
 'Chips' 'Chicken Salad Bowl' 'Steak Bowl' 'Barbacoa Soft Tacos'
 'Veggie Burrito' 'Veggie Bowl' 'Steak Crispy Tacos'
 'Chips and Tomatillo Red Chili Salsa' 'Barbacoa Crispy Tacos'
 'Veggie Salad Bowl' 'Chips and Roasted Chili-Corn Salsa'
 'Chips and Roasted Chili Corn Salsa' 'Carnitas Soft Tacos'
 'Chicken Salad' 'Canned Soft Drink' 'Steak Salad Bowl'
 '6 Pack Soft Drink' 'Chips and Tomatillo-Red Chili Salsa' 'Bowl'
 'Burrito' 'Crispy Tacos' 'Carnitas Crispy Tacos' 'Steak Salad'
 'Chips and Mild Fresh Tomato Salsa' 'Veggie Soft Tacos'
 'Carnitas Salad Bowl' 'Barbacoa Salad Bowl' 'Salad' 'Veggie Crispy Tacos'
 'Veggie Salad' 'Carnitas Salad']

### How many different items are sold?

In [ ]:
num_unique_items = chipo['item_name'].nunique()

print("Number of different items sold:", num_unique_items)

Number of different items sold: 50

### How much revenue was generated for the period in the dataset?

In [ ]:
chipo['item_price'] = chipo['item_price'].replace('[\$,]', '', regex=True).astype(float)
total_revenue = (chipo['quantity'] * chipo['item_price']).sum()

print("Total revenue generated for the period:", total_revenue)

Total revenue generated for the period: 39237.02

### What is the average revenue amount per order?

In [ ]:
chipo['item_price'] = chipo['item_price'].replace('[\$,]', '', regex=True).astype(float)
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
average_revenue_per_order = chipo.groupby('order_id')['revenue'].sum().mean()

print("Average revenue amount per order:", average_revenue_per_order)

Average revenue amount per order: 21.39423118865867

### How many orders were made in the period?

In [ ]:
num_orders = chipo['order_id'].nunique()

print("Number of orders made:", num_orders)

Number of orders made: 1834

### How much revenue was generated selling the second most popular item in the menu?

In [ ]:
chipo['item_price'] = chipo['item_price'].replace('[\$,]', '', regex=True).astype(float)
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
item_stats = chipo.groupby('item_name').agg(total_quantity=('quantity', 'sum'), total_revenue=('revenue', 'sum')).reset_index()
item_stats = item_stats.sort_values(by='total_quantity', ascending=False)
second_most_popular_item = item_stats.iloc[1]['item_name']
second_most_popular_revenue = item_stats[item_stats['item_name'] == second_most_popular_item]['total_revenue'].values[0]
print("Second most popular item:", second_most_popular_item) # Changed this line to print second_most_popular_item directly
print("Total revenue generated by this item: $", round(second_most_popular_revenue, 2)) # Using second_most_popular_revenue for total revenue

Second most popular item: Chicken Burrito
Total revenue generated by this item: $ 6387.06