<a href="https://colab.research.google.com/github/vasion9/Python451VS/blob/main/week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Last couple of features of lists before we proceed to conditional statements

In [ ]:
# range() is a function that generates a sequence of numbers

nums = list(range(5))
print(nums)

nums1 = list(range(5,16))
print("\nThis is the second list", nums1)

nums2 = list(range(0,100,10))
print("\nThis is the third list", nums2)

[0, 1, 2, 3, 4]

This is the second list [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

This is the third list [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

### Slicing Lists

In [ ]:
nums = list(range(0,100,5))
print("Original list: ", nums)
print('\nFirst 3 elements of list:', nums[0:3]) # print 0,1,2 index. Upto 3, not including 3.
print('\nEverything 4th element onwards:', nums[4:])
print('\nLast item of list:', nums[-1])
print('\nBackwards list smun:', nums[::-1])
print('\nFirst up till 5th element with step-size 2:', nums[1:5:2])

Original list:  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

First 3 elements of list: [0, 5, 10]

Everything 4th element onwards: [20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

Last item of list: 95

Backwards list smun: [95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5, 0]

First up till 5th element with step-size 2: [5, 15]

## Conditional Statements, Looping

In [ ]:
'''The BDFL (Benevolent Dictator for Life) has a good sense of humor. Each package that you install needs to be imported before you can use it.
# Look what happens when you import a package called 'this'. It prints the Zen of Python - a rulebook for writing IF statements'''

import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Let us start with IF loops.

Before that, we need to understand Indentation in Python

Indentation has a very specific role in Python and is important!

It is used as alternative to parenthesis, and getting it wrong will cause errors.
IF Statements and Indentation
- The syntax for control structures in Python use _colons_ and _indentation_.


```
# This is formatted as code

if condition1:
  do something
elif condition2:
  do something else
else:
  do this last thing
```

In [ ]:
y = -2
x = 10
if x > 0:
    print ('x is strictly positive')
    print (x)
# print ('Finished.', x, y)

if y < 0:
    print ('y is strictly negative, its value is: ', y)
    print (y)

x is strictly positive
10
y is strictly negative, its value is:  -2
-2

In [ ]:
print("What is the temperature outside?")
temperature = int(input())

if temperature < -10 or temperature > 30:
    print("Extreme weather of", temperature, "degrees Celsius")

print("What is the price of this item?")
value = int(input())

if not value > 10:
    print("value not greater than 10")

print("What is your age?")
age = int(input())

print("What country do you belong to?")
country = input()

if int(age) >= 18 and country == "Germany":
    print("You may drink alcohol")

What is the temperature outside?
5
What is the price of this item?
7
value not greater than 10
What is your age?
19
What country do you belong to?
usa

In [ ]:
# print the price of eggs as $5 if you live in New York state and it is currently winter season

state = input()
season = input()

if state == "New York" and season == "winter":
    print("Price of eggs: $5")

New York
winter
Price of eggs: $5

## Conditional Statements

- `if` statements enable logic.
- `elif` give additional conditions.
- `else` gives what to do if other conditions are not met.

In [ ]:
purchase = float(input("Price at which you purchased bitcoin: "))
current = float (input ("Current price of bitcoin: "))

if current < purchase*1.2 and current >= purchase:
  print("Consider holding on a bit longer as your profit is only ", current - purchase,  "$ per bitcoin.")
elif current >= purchase*1.2:
  print("Worth selling as you will make", current - purchase, "$ per bitcoin.")
else:
  print('Not worth selling right now. Your loss is: $', current - purchase, ' per bitcoin.')

Price at which you purchased bitcoin: 50
Current price of bitcoin: 55
Consider holding on a bit longer as your profit is only  5.0 $ per bitcoin.

In [ ]:
x = -11
y = 0
if x > 0:
    print ('x is greater than 0')
    if y > 0:
        print ('& y is also greater than 0')
    elif y<0:
        print ('& y is less than 0')
    else:
        print ('& y is equal to 0')
print ("x: ",x)
print ('Finished.')

x:  -11
Finished.

In [ ]:
x = -81
y = 0
if x > 0:
    print ('x is greater than 0')
if y > 0:
    print ('& y is also greater than 0')
elif y<0:
    print ('& y is less than 0')
else:
    print ('& y is equal to 0')
print ("x: ",x)
print ('Finished.')

& y is equal to 0
x:  -81
Finished.

# Try printing each of these. Play around with the value of x

In [ ]:
x = 4
x != 5
x > 0
x==5

False

## Python Conditionals (Alt Syntax)

In [ ]:
x=0
if x > 0:
  z = 5
else:
  z = 0
print(z) # how we would generally run this code

0

In [ ]:
x=0
z = 5 if x > 0 else 0
print(z)

0

In [ ]:
# This is a form of if statement called ternary conditional operator
x=1
#The first value is the value if the conditional is false
z=(0, 5)[x>0]
print(z)

5

## FOR Statement

Enables us to iterate over contents of lists.

In [ ]:
#Here we are iterating on lists.
sum=0
for ad in [10, 2, 36]:
    sum+=ad    #This is short hand for sum = sum+ad
    print(sum)

for country in ['England', 'Spain', 'India']:
    print(country)

10
12
48
England
Spain
India

In [ ]:
products = ["banana", "apple", "squash"]

for item in products:
    print("Our best selling product this week is, " + item + "!")

Our best selling product this week is, banana!
Our best selling product this week is, apple!
Our best selling product this week is, squash!

In [ ]:
x=[0,1,2]
y=['a','b','c','j']
#Nested for loops
for d in x:
    for f in y:
        print(d,f)

0 a
0 b
0 c
0 j
1 a
1 b
1 c
1 j
2 a
2 b
2 c
2 j

In [ ]:
for i in range(10):
    print(i*3)

0
3
6
9
12
15
18
21
24
27

In [ ]:
multiple_three = []
for i in range(11):
    multiple_three.append(i*3)
print(multiple_three)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
#Range is a built in function that can be passed to a for loop
#https://docs.python.org/3/library/functions.html#func-range
#Range accepts a number and a (start/stop/step) like the arrange command.
z=range(5)
# print(z, type(z))
#Range
for i in z:
    print('Print five')
for i in range(4):
    print('Print four more')
for i in range(5,20,2):
    print('i: %d is the value' % (i))
    # print(f'i:{i}  is the 2nd value' ) #This is an alternate way of embedding values in text.

Print five
Print five
Print five
Print five
Print five
Print four more
Print four more
Print four more
Print four more
i: 5 is the value
i: 7 is the value
i: 9 is the value
i: 11 is the value
i: 13 is the value
i: 15 is the value
i: 17 is the value
i: 19 is the value

In [ ]:
#This is the long way of building lists.
L = []
for n in range(5,15):
    L.append(n ** 2)
L

[25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [ ]:
#With list comprehension.
L=[n ** 2 for n in range(5,15)]
L

[25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [ ]:
# Print all negative numbers in a list

mylist = [2, 5, -3, 8, 1, -5, -8]
neglist = []
for i in mylist:
    if i < 0:
        neglist.append(i)
print(neglist)


# With list comprehensions
neglist2 = [i for i in mylist if i < 0]
print(neglist2)

[-3, -5, -8]
[-3, -5, -8]

In [ ]:
#Any actions are on left side, any conditionals on right side
[i for i in range(20) if i % 3 == 0]

[0, 3, 6, 9, 12, 15, 18]

### Multiple Interators
- Iterating on multiple values

In [ ]:
[(i, j) for i in range(2) for j in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

### Dictionary Comprehension

In [ ]:
#We can change it to a dictionary by just changing the brackets and adding a colon.
{n:n**2 for n in range(6)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## While Loops
- Performs a loop while a conditional is True.
- Doesn't auto-increment.

In [ ]:
x = 1
sum=0
while x<10:
    print ("Printing x= %d sum= %d" % (x, sum))
    x += 1
    sum+=10

Printing x= 1 sum= 0
Printing x= 2 sum= 10
Printing x= 3 sum= 20
Printing x= 4 sum= 30
Printing x= 5 sum= 40
Printing x= 6 sum= 50
Printing x= 7 sum= 60
Printing x= 8 sum= 70
Printing x= 9 sum= 80

In [ ]:
a = 1
while a<2000:
  print(a)
  a = a*2

1
2
4
8
16
32
64
128
256
512
1024

In [ ]:
a = 1

while True:
    a = a * 2
    print(a)
    if (a > 1000):
        break

2
4
8
16
32
64
128
256
512
1024

In [ ]:
n = 0
while True: # execute indefinitely print ("Executing while loop")
  if n == 5: # stop loop if n is 5
    break
  n = n + 1
  print ("Finished while loop", n)

Finished while loop 1
Finished while loop 2
Finished while loop 3
Finished while loop 4
Finished while loop 5

## Recoding Variables/Creating Features with `for/if`
- Often we want to recode data applying some type of conditional statement to each value of a series, list, or column of a data frame.
- [Regular Expressions](https://docs.python.org/3/howto/regex.html) can be useful in recoding

In [ ]:
#Titanic Preview Women and Children first

gender=['Female', 'Female','Female', 'Male', 'Male', 'Male' ]
age=[75, 45, 15, 1, 45, 4 ]
name = ['Sally White', 'Susanna Petrovsky', 'Samantha Russ', 'Finn Patrick', 'Johnny Cash', 'Pep Guardiola']
survived=[]
for i in range(len(gender)):
    if gender[i]=='Female':
        survived.append('Survived')
    else:
        survived.append('Died')
print(survived)

['Survived', 'Survived', 'Survived', 'Died', 'Died', 'Died']

In [ ]:
# create a list that has survived if gender is female and died if otherwise using list comprehensions

survived2 = [('Survived' if gender[i]=='Female' else 'Died') for i in range(len(gender))]
print('\n',survived2)

 ['Survived', 'Survived', 'Survived', 'Died', 'Died', 'Died']

In [ ]:
young = ['old','old','young','young','old','young']
age = [75, 45, 15, 1, 45, 4 ]

young=[]
for i in range(len(age)):
    if age[i] < 20:
        young.append('adult')
    else:
        young.append('child')
print(young)

['child', 'child', 'adult', 'adult', 'child', 'adult']

### Let us now open a Text File that is in our computer.
NOTE: This is not possible on Colab as Colab does not access files in your C drive. I have still provided you the code to use should you wish to run code on a different IDE instead.

In [ ]:
### Will not work on Google Colab
f = open('/Users/NAME/FOLDER/class.txt', 'r')
f.read()

In [ ]:
import base64
import requests

master = "https://raw.githubusercontent.com/Jainu-s/urldata/master/al/abescoldbeer.com.txt"
req = requests.get(master)
req = req.text
print(req)

stock beers abe's cold beer best selection lehigh valley specials promotions latest facebook diversify palette sixpoint puff weyerbacher finally legal bourbon barrel aged stout cocoa vanilla high watermelon troegs crimson pistil ipa brewed hibiscus flowers avery tequilacerbus bell's oberon victory monkey ballast point rose einstok icelandic arctic berry ale white cans summer monarchy methusalem holunderheimer johannisburger dortmunder altbier save beers years like oldest person according flying monkey's chocolate manifesto triple milk fegle'y blueberry belch evil twin lamp goose island lolita dog rental radler grapfruit passion fruit funk tumble weed plenty places beer established lot longer abe’s supermarkets trying crack market customers abe’s…sometimes far miles that’s right… different beers available know real stock largest best selection world we’ll glad special order mention massive filter brand country united states australia asia belgium canada europe kingdom france germany italy japan mexico central south american location abbey brewing monk's ale abita louisiana purple haze turbo dog,amber,jockamo harvest ales strawberry pecan harvest,satsuma seasonals:christmas nov-dec fall fest(sep-nov bock(jan-march),red march-may wheat(may-september acme(north coast california pale alesmith brewing grand cru horny devil,ipa,old numbskull,speedway stout heavy seasonals:yulesmith holiday imperial winter double summer evil dead halloween bloody valentine valentines seasonal anchor steam liberty christmas anderson boont amber poleeko barney flats oatmeal hop ottin solstice brother david triple anheuser busch missouri budweiser bud michelob ultra bridge shock belgian white,wild blue hound,sun dog arcadia london porter loco cereal killer shipwreck angler's atlantic maine coal porter,island ginger,bluberry atwater block brewery michigan vanilla java dirty blonde voodoovator lager cans,ipa cans seasonals blocktoberfest(fall),winter bock(winter avery colorado anniversary world hog heaven samael's beast mephistopheles dugana chief ballast point yellowtail calico black marlin big eye ipa,sculpin dorado bar harbor doal ginger,buleberry real thunder cadillac mnt bear republic racer rocket special xp rod big bell's michigan hearted kalamazoo seasonals:oberon brown white cherry cream old expedition sparkling hopslam stout hath fury blue moon seasonals harvest pumpkin(fall rising spring honey york toasted hoptical illusion blueberry boaks jersey blind monks monster mash bw boulder hazed infused,never summer,sweaty betty mojo risin breckenridge avalanche lucky seasonals:pandora's bock(january-march),agave wheat(spring/summer),summer bright(april-august),autumn(september-october),christmas ale(november-december brooklyn india pilsner chocolate local post road pumpkin penant brooklyner-schneider hopfen-weisse brew works fegley's pensylvaina hop'solutely ipa,hop explosion,always sunny seasonals:,bagpiper's scotch ale,insidious space monkey saison(april),imperial ale(august),,bourbon bbl insidious(febuary),rude reserve nov),devious belch buffalo bill's orange ale(seasonal pumpkin(seasonal waters wisconsin brewhouse coffee glacial trail ipa,happy heron illumination ipa,mud puppy satin shine irish cisco brewers massachusetts whale's tale grey lady climax nut ale,esb,ipa seasonals:helles lager,cream oktoberfest,dopplebock coronado califorina golden islander mermaid nutter brown,hoppy daze,red devil cricket hill hopnotic colonel blides cask seasonals:jersey summer(summer),fall festivus(fall),paymaster porter(winter dark horse crooked tree raspberry ale ale,four perkulater available dixie orleans blackened voodo north caorlina amber,brown,porter,milk seasonals:baltic porter,russian stout,barleywine,dopplebock,schwartzbier,marzen,wee heavery dogfish head delaware minute raison d'etre indian midas touch palo sant maron seasonals:chicory stout(winter),aprihop(spring),festina peche(summer),punkin(fall limited releases olde school barleywine wide chateau jiahu pangea burton baton immort theobroma,sha'tea,namaste,my antonia,squall imp river california organic exultation raven's eye erie pennsylvania railbender presque isle anthony's ale,misery bay seasonals:drake's crude oatmeal(january-february maibock(march-april),derailed ale(may-august),fallenbock(august-september red(november-december collins colorado major tom's pomegranate wheat shot retro rocky mountain salt lake utah monkshin,dunk'l,punk'n wyld,rype founders basterd,centennial ipa,reds rye,porter trouble jan-may),imperial stout(february)ken breakfast limited march),curmudgeon(may),cerise(june august),devil dancer(july),breackfast stout(september-december),harvest ale(october,backwoods bastard(november)nemeses(limited release flying doggy style in-heat hefe weizen scratch gonzo horn barley wine tire bite golden snake woody creek dogtoberfest marzen cruiser winter fish jersey dubbel extra hopfish espresso farmhouse octoberfish pint chinookie ipa,whit lightening wit,all-in-one perc bust porter,rumpelpils,yri-pa furthermore knot fatty boombalatty proper tree feet deep fallen apple makeweight oscura great divide fresh bridget's titan hercules douple samurai ruffian yeti oak aged hibernation wild lakes ohio burning pale ale,dortmunder gold lager eliot ness commodore perry edmund fitzgerald green ffash freak west trippel ruby geary's porter,summer autum gritty mcduff'sbrewing bitter,best brown,scottish harlem sugar harpoon massachusetts warmer munich ufo hefeweizen octoberfest barrel series leviathian's,saison he'brew schmaltz york genesis messiah bold origin pommegranate bittersweet lenny's seas maryland decks hang weizenbock loose cannon peg leg sky night saison small craft warning uber pils hoppin frog ohio boris crusher,manalishi ipa,hop ipa,otta kilter silk d.o.r.i.s.(january-april)hop dam ipa(march-may),turbo shandy citrus ale(may august),wild wheat(july-august),double pumpkin(august-november)frosted fraug(october-december ithaca apricot cascazilla excelsior ten,cold front,flower power jolly artisan ales calabaza roja blanca bam biere madrugada(january),es bam(april),luciernaga(june),bam noire september)maracaibo(november),noel lagunitas censored maximus shugga hairy eyeball lumpy gravy sirius undercover shutdown cappuccino lakefront wisconsin grist gluten placid ubu ale,india seasonal hiney lancaster pennsylvania amish grain milk seasonals:rumspringa cans(march-may)kolsch cans(may august),oktoberfest(september-november),winter warmer(november-january lavery pennsylvaina french summer),belfast stingy jack fall),imperial rte leopard oir bird left torry pines juice mcgarvey's scottish asylum magic sawtooth jackman's deep cover ginger polestar warrior chainsaw sisters,smoke jumper,widdershins leelanau good whaleback white leinenkugel sunset weiss berry weiss,(seasonal shandy(seasoanal fireside brown(seasonal vermont blackberry bag hibernator lost downtown beer,indicaipa,alley cat ball tangerine seasonal steelhead john barleycorn wine jamaica vermont number circus boy h.ipa kat hex hocus pocus roxy rolles,howl main peeper mcneills pullman's porter,dark angel stout,dead firehouse mendicino hawk ipa(seasonal middle ages bitter heart dragonslayer druid fluid,grail highlander impaled kilt tilter raspberry,swallow wailing wench duke winship tripel crown wheat,(seasonal wizards mike's hard lemonade,hard cranberry mikes litelemonade,lite cranberry,black lime classic margarita peach traditional lime,harder lemonade harder cranberry hard mango punch millercoors miller lite high life genuine draft chill sparks coors white,seasonals killian's mission mission blond hefeweizen mississippi mud moylan's lifter hopsickle moylander ryan o'sullivans holland hatter ipa,the poet dog,full circle ichabod ale,cabin feaver realeases:farmhouse hatter,black ipa,rye hatter,hopivoregolden cap gravity series pilgrams dole wheat wine tripper tulip celler evious seal star scrimshaw pranqster thelonius rasputin merle acme plowshare ommegang rare vos philosophers witte hennepin,bpa seasonals:chocolate indulgence ommegeddon cup kyndness,adoration.aphrodite oscar blues mama's lil dale's chub ale,limited releases fidy stout,gubna imp ipa,gordon otter copper kolsch stovepipe baltic wolaver's organics pabst ribbon penn pilsner,penn weizen allagany seasonals:marzen(january-april),oktoberfest august-october),st.nikolaus bock(noverber-january philadelphia kenzinger newbold walt rowhouse fleur port:santa's little helper stout,(seasonal anniversary,(once year wipe viscosity shark attack lit session lager,hot rocks abbey:serpent's barn judgement avante garde devotion witches wit:inferno carnevale commandments pretty d'or baby botolph's town releases:american darling confounded mr sysyphus,babayaga hedgrow rammstein wheat,classic dunkelweizen hazard,hopalotamus ale,lager wit(february-march),summer blond(april-august hippolantern(august-october stout(nivember-febuary freeze(october-december rogue oregon guy chipotle half-e-weizen juniper kells mocha monk madness morimoto obi soba red,shakespeare stout,chipoltle,mocha porter,jazz hazelnut brown.seasonal:santa's yellow snow rock vermonster,belvidere ipa,extreme series sesonals pumpkin,spruce ameri-belgo rolling saint florida lecto divina,saison athene,pays soleil samuel adams boston wit,black coastal latitude ipa limited reaeases bock octoberfest,harvest,noble pilsner,imp.white,pumpkin saranac wheat,seasonal paw wheat,alimony shipyard export thumper seasonal:pumpkinhead sierra nevada torpedokellerweisse summerfest anniversary celebration bigfoot barleywine,tumbler,celebration southern hemisphere harvest,estate,torpedo sly fox dunkel weisse odyssey incubus smirnoff illinois fusion watermelon burst grape,ice smuttynose hampshire shoals robust porter,seasonal hanami smuttonator doublebock sprecher russian bavarian pub pipers southampton porter(winter bier mars(spring keller pils(summer),pumpkin ale(fall tier phin matt's ale,pale wheat,2x ipa,porter releases:harvest rasoberry ale,hop hoppe pale,unearthly dipa,big iniguity gemini aged unearthly,backburner strong farmers tan,heavy weizen,pumking,krampus,choklat jahva,mokah,creme brulee,imperial oat cuvee speakeasy prohibition daddy untouchable godfather lightning stillwater maryland celler door series,autumnal existential stateside saision imported series:of regret darkly.limited brews:rauchstar,jaded,debutant,debauched stone ale,ruination oaked arragant bastard levitation smoked porter,cali belgique sublimely righteous specail guardian,imperial stout,anniversary vertical epic stoudt's scarlet big beers:fat triple,seasonals smooth hoperator heifer-in-wheat oktober fest summit ale,ipa northern porter,horizon red,pilsner maibock(spring hefeweizen(summer octoberfest(fall tailgate wave telegraph bruery orchard rugbrod ale,,saison rue,tradewinds triple seasonals;saison lente(spring),autmn maple calling birds(christmas thomas hooker connecticut red,hop meadow ipa,american ale,seasonal oktoberfest(september-october liberator doppelbock,nor easter(november-february watermelon(may tommy knocker pick axe ale,jack whacker wheat,ornery lager,imperial brown butthead seasonals:cocoa porter(winter),tundrabeary(summer troegs hopback rugged dreamweaver troegenator seasonals:nugget nectar sunshine reckoning limited releases:java stout,flying mouflan perpetual brothers cane ebel,domaine dupage bitter end,ebelweiss seasonals:monarch wit,dog lager,heavy handed northwind dipa uinta notch hoodoo kings peak hazel baba sheep monkshine dibhe wyld trader hyve sum'r punk'n crooked line cockeyed cooper tilted smile detour labyrinth uncommon cdalifornia state siamese twin victory devil,hopwallop,prima pils,lager,golden monkey,stormking twelve,baltic thunder,helios headwaters seasonals:yakima glory,st victorious(january-febuary)whirlwind witbier,st boisterous march-april)summer sunrise(may-august)festbier,moonglow weizenbock(stptember-october)yakima glory horizontal(november-december voodoo gran magick child season pilzilla wynona's limited:big years weyerbacher merry monks,last chance ipa,old heathen,blithering idiot,double simcoe line fireside(january heresy(limited),insanity(limited),slam tiny(febuary),blanche((april/may),,anniversary june),autumnfest(august),imperial pumpkin(july-september ale(september),winter ale(october-december),quad(november-december birch hampshier onion paddy williamsburg alewerks virginia chesapeake drake barlewine marker ale,travern ale,washington's seasonal:pumpkin woodchuck ciders cider dry granny smith pear yards brawler ale,extra spacial ipa,ales revolution seasonal:saison yuengling premium lord chesterfield tooheys toohey's foster's halida san miguel singha tsing tao breweries kingfisher brasserie l'abbaye rocs bruehaut martin dark,blond,triple,cuvee noel,brunehaut,abby amand,mont aubert kopstoot head butt rulles noel brouwerij anker gouden carolus huyghe artevelde delirium tremens nocternum floris framboise regenboog vuuve senne taras boulba,very speciale belge vapeur cochonnette botteresse blond,amber,noire van steenberge gulden draak piraat verhaeghe duchesse bourgogne bosteels deus kwak karmeliet cantillon gueuze kriek rose gambrinus bruocsella iris vigeronne lamvinus lou pepe beer club stock caracole nostradamus chimay premiere cinq cents grande chouffe mcchouffe houblon n'ice corsendonk dolle brouwers stille nacht arabier boskuen dulle oerbier reserva koninck proef angelique,mystique,lunatique,euphorque,k-o blond,flemish primitive,slaapmutski nightcap,van dupont moinette brune avec bon voeux duvel gaverhopke singing blond huisbrouwerij sint canarus potteloereke conteras valier donker divers cazeau tournay noir botteresse ambree dochter von korenaar noblesse embrasse bravour grimbergen gruut hoegaarden witbier kasteel rouge leffe lefebrve blanche bruxells barbar floreffe lindemans cassis pomme peche,guze maredsous bruin oud beersel orval trappist picobrouwerij alvinne podge ranke xx ranke,guldenberg,kriek trappistes rochefort rodenbach original redbach bernardus abt prior pater watou feuillien stella artois strubbe ichtegem's urthel hop-it vlaemse samaranth val-dieu alternatief piet-agoras,hik hik eerwaarde westmalle t'brouwkot netebuk manten kalle bockor bellegms drie fontanen oude geuze,oude kriek,schaersbeek alexander keith's nova scotia vancouver b.c ipa,lager,pale dieu ciel montréal quebec peche mortel devil's rosee d'hibiscus derniere volante route epices aphordites d'hiver labatt ontario molson toronto canadian molsongolden,molson xxx unibroue chambly maudite monde trois pistoles ephemere seigneuriale terrible quelque chose alhambra negra almaza pilsener amstell bmf-basserie franches montagnes abbaye bon chien alex baltika carlsberg elephant efes farson's lacto grieskirchner hefe-weizen grolsch haand norwegian wood force,norse dobbel dram mikkeller geek breakfast,beer brunch,beer breackfast struisse-mikkeller nogne-o ale,porter sweet horzion,sunturnbrew olfabrikken okocim ok perla malt liquor urquel pripp's carnegie porterhouse oyster wrassler's xxxx lezajsk lomza wyborowe mocne rinkuskiai alaus darykla lobsters lovers,aiko zhiguly werewolf befor-after svyturys ale,red ale,maksimium unfiltered raw,ekstra adler taps kolsch,vienna smoke tatra utenos brewed twice supply zywiec lager,porter abbot coq's holy grail riggwelter ale,black bateman xxxb george combined beamish boddingtons punk,hard core tokio,paradox,storm charles wells banana bread bombadier coniston bluebird bitter,blubird xb fuller's pride vintage gales prised king morland hen's tooth speckled guinness draught foreign harvey's elizabethan hook norton hooky bitter,hooky hookey jw lees meantime murphy's ridgeway bitter,oxfordshier,ipa,ivanhoe ale,foreign pure taddy peter's english old-style tanner jack wychwood hobgoblin wychcraft scarecrow fiddler's elbow seasonal:bah humbug young's choulette sans culottes seasonal:noel ciderie duche longueville clos normand duyck jenlain druon d'orge belzebuth castalain thiriez cochonne pipaix pietra corse meteor wendilinus,blanche meteor,blond d'alsace berliner weissse aktien hell,maibock,weizenbock,hefe aecht schlenkerla rauch urbock,wheat helles augustiner brau edelstoff maximator ayinger celebrator brau-weisse ur-weisse jahrhundert-bier altbairisch beck's becks oktoberfest binding radeberger clausthaler non-alcoholic bischoff privatbrauerei maibock weissen cristal weissen bitburger dinkel acker cd-pils einbecker pilsner,schwartzbier erdinger weissbier flensbuger brauerei franzikaner hefeweisse gaffel becker kolsh hacker-pschorr lger seasonal:oktoberfest hofbrauhaus innstadt edelsud,neues helles,passaoer weisse,bockweisse,extra schwarze stadl bier,double d'instaade klosterbauerei ettaler.dunkel konig kostritzer scharzbier kulmbacher eisbock,kapuziner kapuziner monchschof leipziger gose lowenbrau mahr's braeu ungespundet seasonal:jubelfest paulaner lager,hefe-weizen salvator doppelbock reissdorf rauchbier urbock lagerbier schneider aventinus aventinus eisbock,organicweissenedel-weisse,hopfen spaten optimator michealsberg kellerbier pauli girl sunner koelsch warsteiner verum weihenstephan hefeweissbier kristallweissbier korbinian festbier vitus uerige stick weltenburger kloster asam weisbier barack wolters wurzburger julius echter juilus dubnkel birra borgo genziana birrificio baladin super nora,isaac seasonal:noel birrifico montegioco draco quarta runa demon hunter panil barriquee troll shangrila italiano cassissona,scires ducato verdi imperial stout,chimera,seasonal krampus pausa cafe p.i.l.s.,chicca,martina,taquamari,tosta beba toro moretti asahi coedo beniaka kyara ruri shikkoku shiro kiuchi hitachino nest beer.hitachino rice ale,hitachino xh japanese kirin ichiban orion koshihikaru sapporo cerveceria cuauhtemoc moctezuma sol tecate dos equis grupo modelo especial pacifico palma loucs brazil desnoes geddes stripe eisenbahn escura nacional dominicana dominican presidente xingu broad street • bethlehem open everyday midnight hear website design taylor

In [ ]:
# https://github.com/Jainu-s/urldata/tree/master/al
# https://github.com/JyothsnaGH/PythonforFinance/blob/main/clifford.txt
master = "https://raw.githubusercontent.com/JyothsnaGH/PythonforFinance/main/clifford.txt"
req = requests.get(master)
req = req.text
print(req)

Lady Anne Clifford, Countess of Dorset, Pembroke and Montgomery, suo jure 14th Baroness de Clifford (30 January 1590 – 22 March 1676)[3] was an English peeress. In 1605 she inherited her father's ancient barony by writ and became suo jure 14th Baroness de Clifford. She was a patron of literature and as evidenced by her diary and many letters was a literary personage in her own right. She held the hereditary office of High Sheriff of Westmorland which role she exercised from 1653 to 1676.[4]

Early years
Lady Anne was born on 30 January 1590 in Skipton Castle, and was baptised the following 22 February in Holy Trinity Church in Skipton in the West Riding of Yorkshire.[4] She was the only surviving child and sole heiress of George Clifford, 3rd Earl of Cumberland (1558–1605) of Appleby Castle in Westmorland and of Skipton Castle, by his wife, Lady Margaret Russell, daughter of Francis Russell, 2nd Earl of Bedford.[4]

Her parents' marriage was soured by the deaths of Anne's two elder brothers before the ages of 5 and her parents lived apart for most of her childhood. The strain of the marriage was seen in the public realm as well, especially after the separation. Her father maintained an important position at the court of Elizabeth I, while her mother received no recognition in regard to her husband at court. As her parents were separated, her mother maintained a matriarchal position in her house, for the family was kept under her care.[5]

In [ ]:
!git clone https://github.com/JyothsnaGH/PythonforFinance.git

## Overview of Numpy

- NumPy is a free, open-source Python library that provides support for multi-dimensional arrays and mathematical operations.
- Numpy is often useful for data science.
- A NumPy array is a powerful data structure in Python provided by the NumPy library.
- You can slice an array just like a list.
- Numpy is imported as `np`.
- Unlike lists, all elements in a NumPy array must be of the same data type.

In [ ]:
import numpy as np
a = np.array([0, 10, 22, 35, 47, 52, 69])
print('Print the entire array:', a)
print('Print the first value:', a[0])
print('Print the first three value:', a[0:3])
print('Print the last value of a numpy array:', a[-1])

Print the entire array: [ 0 10 22 35 47 52 69]
Print the first value: 0
Print the first three value: [ 0 10 22]
Print the last value of a numpy array: 69

In [ ]:
# print the largest value of a numpy array
a = np.array([0, 110, 242, -65, -4, 435, -567, 100, 99])

## Arrays and Functions
- A really powerful aspect of arrays is the capability to do calculations over arrays.
- List of Numpy functions: https://numpy.org/doc/2.1/reference/routines.math.html

In [ ]:
import numpy as np
a = np.array([1, 2, 3, 4, 5, 6])
b1=10*a
b2=np.multiply(10,a)
c=a+b1 # c2=np.add(a,b1) #This is an alternate way of adding
d=np.log(a)
e=np.sqrt(a)
f=a**2  #This squares the value.

np.square([-1j, 1])
print('Print a:', a)
print('Print b1:', b1)
print('Print b2:', b2)
print('Print c:', c1)
print('Print d:', d)
print('Print e:', e)
print('Print f:', f)

Print a: [1 2 3 4 5 6]
Print b1: [10 20 30 40 50 60]
Print b2: [10 20 30 40 50 60]
Print c: [11 22 33 44 55 66]
Print d: [0.         0.69314718 1.09861229 1.38629436 1.60943791 1.79175947]
Print e: [1.         1.41421356 1.73205081 2.         2.23606798 2.44948974]
Print f: [ 1  4  9 16 25 36]

## Slicing Single Dimension Numpy Arrays
- Slicing arrays includes  three numbers `a[start:stop:step]` but not all are required.
- Defaults: start =0, end =last and step is 1.
- To print the entire array, leave start/stop/step blank`a[::]`

In [ ]:
e= np.arange( 0, 15, 1 )
print(e)
#[start:end:step]


print("This is the start, end, and step:",e[2:9:3])
print("Print every other:",e[::2])
print("Print starting at 2 and ending at 9, default step 1:",e[2:9])
print("Print all:",e[::])
print("Print all:",e[:])
print("Print all:",e)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]
This is the start, end, and step: [2 5 8]
Print every other: [ 0  2  4  6  8 10 12 14]
Print starting at 2 and ending at 9, default step 1: [2 3 4 5 6 7 8]
Print all: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]
Print all: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]
Print all: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]

## Creating and Manipulating Numpy Arrays
- The arrange function will generate an array.
- Reshape changes the structure of the array to n rows and m columns.
    `a=a.reshape(n, m)`
-`ones` will create an array with all ones and `zeros` with all zeros.
- Reshaping can get it in the appropriate structure, but make sure that the size fits the appropriate dimensions.

In [ ]:
import numpy as np
a = np.arange(15)
print(a)
a2 = np.arange( 0, 15, 1) #Alternate specification with np.arrange(start, end, step)
print(a2)
a=a.reshape(3, 5)
print(a)
b= np.ones(shape=(3, 5), dtype=float)
print(b)
c= np.zeros(shape=(3, 5), dtype=int)
print(c)
d= np.full((3, 5), 4, dtype=int)
print(d)
e= np.arange( 0, 1.5, .1 ).reshape(3,5)  #String together creations and reshaping. Also can use decimals.
print(e)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
[[0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]]
[[4 4 4 4 4]
 [4 4 4 4 4]
 [4 4 4 4 4]]
[[0.  0.1 0.2 0.3 0.4]
 [0.5 0.6 0.7 0.8 0.9]
 [1.  1.1 1.2 1.3 1.4]]

In [ ]:
e= np.arange( 0, 1.5, .1 ).reshape(3,5)

## Generating Random Numpy Data
- This is often useful, and we will be using it to demonstrate some initial techniques.
- Often you want random but repeatable results, so that for example a test could have a consistent average on a random array. For this we need to set a seed. You only have to do this once.

In [ ]:

a = np.random.uniform(50, 150, 10)  #Between 50-150, generate 10 variables from uniform
b = np.random.standard_normal(10)   #With mean 0 and standard deviation 1
print(a)
print(b)

[109.46519698  50.85780228 145.64145344  78.97269151  92.70351313
  52.40115672 100.85344015 136.72543799  97.50815861  65.22120624]
[-0.78579231  0.47561356 -1.03844076  1.22334432 -2.21874131 -0.71922972
  0.22159424 -1.00226326  0.07889796 -1.00275058]

## Combining Numpy Arrays
- `concatenate` will string a list of numpy arrays together `np.concatenate([a,b])`
- `vstack` will stack numpy arrays
- Defaults: start =0, end =last and step is 1.
- To print the entire array, leave start/stop/step blank`a[::]`

In [ ]:
a = np.arange(5)
b=np.concatenate([a,a])
c=np.vstack([a,a])
d=np.hstack([a,a])
print('a:',a,'\nb:',b,'\nc:',c,'\nd:',d)

a: [0 1 2 3 4]
b: [0 1 2 3 4 0 1 2 3 4]
c: [[0 1 2 3 4]
 [0 1 2 3 4]]
d: [0 1 2 3 4 0 1 2 3 4]

## Numpy Arrays From External Datasets
- We can take a list from an external dataset and change it to an numpy array.

In [ ]:
# let's download the iris dataset.

!wget https://raw.githubusercontent.com/JyothsnaGH/PythonforFinance/main/files/iris.csv

--2025-01-30 22:51:27--  https://raw.githubusercontent.com/JyothsnaGH/PythonforFinance/main/files/iris.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2734 (2.7K) [text/plain]
Saving to: ‘iris.csv’

iris.csv            100%[===================>]   2.67K  --.-KB/s    in 0s

2025-01-30 22:51:27 (32.8 MB/s) - ‘iris.csv’ saved [2734/2734]

In [ ]:
import csv
csv_file = csv.reader(open('iris.csv', newline=''), delimiter=',')

data=[]
header = next(csv_file) #
for row in csv_file:
    data.append(row)  # add each row to data
data = np.array(data)
# print(data)

## Slicing 2 Dimensional Numpy Arrays
- We can slice arrays with `array[row, column]` were row and column each include the (start:stop:step) like in arrays
- We can sepecify the type with the `.astype(np.float_)`
- For a full list of Numpy types, see [documentation](http://docs.scipy.org/doc/numpy-1.10.1/user/basics.types.html)
- If we create a one dimensional array from 2 dimensional numpy array, it will also be a numpy array of same type.

In [ ]:
#We can slice the array several different ways and generate new variables.

irisdata=data[0::,0:4:].astype(np.float_)  #This will select only the first 4 columns and change the type to float
irisdata=data[:,0:4].astype(np.float_)
iristype=data[0:,4:5] # selecting all rows, only column 4, which is the type (virginica).
# print(irisdata,'\n',iristype)

In [ ]:
# get the first 20 columns and first 3 columns of data as string
irisstry=data[0:20,0:3].astype(np.str_)
# irisstry

In [ ]:
#This can be used to select column 1 and assign to new variable.
# Find the sum of column 1
newvariable=irisdata[::,0:1:]

#This will sum up column 0
final=irisdata[::,0:1:].sum()
final2=irisdata[:,0:1].sum() # much cleaner
type(newvariable)
#print(newvariable)
print(final)
print(final2)

876.5
876.5

In [ ]:
#  mean of column 1
print('mean:', irisdata[::,0:1:].mean())
irisdata[:,0:1].mean()

mean: 5.843333333333334

5.843333333333334

In [ ]:
# mean of row 3
print('mean:', irisdata[2:3,:].mean())
irisdata[2:3,:].mean()

mean: 2.35

2.35

## UCI Machine Learning Data Repository

We can download a few datasets (suitable for machine learning purposes) using the UC Irvine Machine Learning Repository. Check this [link](https://archive.ics.uci.edu/) out for other datasets.

The iris.csv dataset is automatically available on this website. The cool thing is, we do not need to download the csv file Github - we can load it directly from the UCI archive!*italicized text*

In [ ]:
!pip install ucimlrepo
from ucimlrepo import fetch_ucirepo

# fetch dataset
iris = fetch_ucirepo(id=53)

# data (as pandas dataframes)
X = iris.data.features
y = iris.data.targets

# metadata
print(iris.metadata)

# variable information
print(iris.variables)